.header {
    justify-content: center;
    text-align: center;
    border-bottom: 2px solid #ccc;
}
ol li {
    list-style-position: outside;
    list-style-type: square;
}
.exam {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
}
#table {
    line-height: 1.8;
    width: 100%;
}
footer {
    padding: 1em 2.5em;
    background: #8e44ad;
    color: #f39c12;
}
a.foo:hover {
    text-decoration: overline #e67e22;
    color: #e67e22;
}
a.foo {
    text-decoration: line-through #bdc3c7;
    color: #bdc3c7;
}