.header {
    justify-content: flex-start;
    text-align: left;
}
ol li {
    list-style-position: outside;
}
.exam {
    font-family: 'Georgia', 'Times New Roman', Times, serif;
}
#table {
    line-height: 1.6;
}
footer {
    padding: 10px 20px;
    background: #222;
    color: #ccc;
}
a.foo:hover {
    text-decoration-color: #ff6600;
    color: #ff6600;
}
a.foo {
    text-decoration-color: #999;
    color: #999;
}