.header {
    justify-content: flex-end;
    text-align: center;
    background: #f0f0f0;
}
ol li {
    list-style-position: outside;
    margin-left: 1.5em;
}
.exam {
    font-family: 'Verdana', 'Arial', sans-serif;
    font-size: 1.1em;
}
#table {
    line-height: 180%;
    border-collapse: collapse;
}
footer {
    padding: 0.5rem 2rem;
    background: #34495e;
    color: white;
}
a.foo:hover {
    text-decoration: underline wavy #3498db;
    color: #3498db;
}
a.foo {
    text-decoration: none;
    color: #95a5a6;
}