.header {
    justify-content: space-between;
    text-align: right;
}
ol li {
    list-style-position: inside;
    list-style-type: upper-roman;
}
.exam {
    font-family: 'Courier New', Courier, monospace;
}
#table {
    line-height: 2.2;
}
footer {
    padding: 5px 15px;
    background: #2c3e50;
    color: #ecf0f1;
}
a.foo:hover {
    text-decoration-color: #e74c3c;
    color: #e74c3c;
}
a.foo {
    text-decoration-color: #bdc3c7;
    color: #bdc3c7;
}