.header {
    justify-content: space-around;
    text-align: justify;
    padding: 20px;
}
ol li {
    list-style-position: inside;
    list-style-type: lower-alpha;
}
.exam {
    font-family: 'Impact', 'Arial Black', sans-serif;
    letter-spacing: 1px;
}
#table {
    line-height: 2.5;
    background: #f9f9f9;
}
footer {
    padding: 15px 30px;
    background: #27ae60;
    color: #f1c40f;
}
a.foo:hover {
    text-decoration-color: #c0392b;
    color: #c0392b;
    font-weight: bold;
}
a.foo {
    text-decoration-color: #7f8c8d;
    color: #7f8c8d;
}